.form-modal {
    width: 520px;
    border-radius: 40px;
    padding: 4% 5% 9% 5%;
    display: block;
}

form {
    width: 500px
}

.form-header {
    padding-bottom: 15px;
}

input {
    display: block;
    width: 90%;
    padding: 15px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

textarea {
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    display: block;
    width: 90%;
    padding: 15px 0 5px 0;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

#no-outline-input {
    border: none;
    padding-bottom: 30px;
}

input[type=text] {
    padding-left: 10px;
    font-size: 14px;
}

textarea[type=text] {
    padding-left: 10px;
    font-size: 14px;
}

:placeholder-shown {
    padding-left: 5px;
    font-size: 14px;
}

.errors li {
    color: rgb(255, 56, 92, .75);
    padding: 7px 0 7px 3px;
    font-size: 14px;
}


#block-button {
    display: block;
    width: 92%;
    padding: 15px;
}
