/* a {
    color: #ff385c;
}

form {
    display: block;
    margin: 0 auto;
} */

/* input {
    display: block;
} */
/* button {
    background-color: #ff385c;
    color: white;
    align-items: center;
    white-space: nowrap;
    padding: 20%;
    border: none;
    border-radius: 10px;
} */
