body {
    color: #222222;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

.spots-grid {
    padding: 0 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: 285px;
    grid-auto-columns: 300px; */
    column-gap: 2em;
    row-gap: 2em;
}

.spot-card {
    padding: 0;
    /* object-fit: cover; */
    border-radius: 50px;

}

.img-styling {
    height: 16.3rem;
    width: 17.25rem;
    object-fit: cover;
    border-radius: 10px;
}

.spot-card-header {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.header {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    column-gap: .5em;
    align-items: center;

}

.spot-card-header h3 {
    display: flex;
    /* width: 50%; */
    margin: 10px 0 0 0;

}

.fa-star {
    color: black;
}
