.spot-container {
    padding: 3% 20% 10% 20%;

}

.review-header {
    display: inline-flex;
    padding-bottom: 25px;
}


.spots-star {
    font-size: 13px;
    vertical-align: sub;
    padding-right: 4px;
}
