.reviews-container {
    padding-top: 70px;
}

.reviews-header {
    display: inline-flex;
    padding-bottom: 30px;
}

.review-top {
    display: inline-flex;
}

.reviews-star {
    display: inline-flex;
    vertical-align: bottom;
    text-align: center;
    font-size: 20px;
    padding-right: 6px;
    padding-top: 29px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    padding-top: 20px;
}

.text {
    padding-bottom: 10px;

}

.write-review {
    padding: 10px 0 30px 0;
}



/*
.each-review {
    width: 50%;
}

.review-header,
h4 {
    display: inline-flex;
    width: 100%;
    font-size: 15px;
    margin: 0;
    color: rgb(34, 34, 34);
}

.fa-star {
    align-items: center;
    font-size: 12px;
}

.spots-star {
    padding: 0 2px 0 0;
}

.review-img-styling {
    display: inline-flex;
}

.reviews-header {
    display: inline-flex;
    margin-top: 50px;

} */
