/* .spot-gallery-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 28.125rem;
    gap: 7px;
}

.spot-gallery-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    object-fit: cover;
    gap: 7px;
} */

.spot-gallery-main {
    display: inline-flex;
    flex-direction: row;
    height: 30rem;
    row-gap: 0.438rem;
    column-gap: 0.438rem;
}

.spot-gallery-2 {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    gap: 0.438rem;
}

.img-0 {
    width: 50%;
}

.img-1,
.img-2,
.img-3,
.img-4 {
    object-fit: cover;
    width: 49%;
}

.img {
    object-fit: cover;
}

.img-0-class {
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.img-2-class {
    border-top-right-radius: 0.625rem;
}

.img-4-class {
    border-bottom-right-radius: 0.625rem;
}

.show-all-button button {
    z-index: 2;
    border-radius: .5rem;
    padding: 0.563rem;
    position: absolute;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 10rem;
    bottom: 27%;
    right: 22%;
}

.default-img {
    object-fit: cover;
}
