.spot-gallery-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 7px;

}

.spot-gallery-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    object-fit: cover;
    gap: 7px;
}

.img-0 .img-1,
.img-2,
.img-3,
.img-4 {
    /* object-fit: cover; */
    height: 100%;
}

.img-0-class {
    /* border-top-left-radius: 10px; */
    /* display: none; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img-2-class {
    border-top-right-radius: 10px;
}

.img-4-class {
    border-bottom-right-radius: 10px;
}

.show-all-button button {
    z-index: 3;
    border-radius: 8px;
    padding: 9px;
    position: relative;
    bottom: 70px;
    left: 960px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 160px;
}

.default-img {}
