h3 {
    font-size: 16px;
    color: rgb(39, 39, 39);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: #717171;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: #717171;
}

.spot-carousel {
    position: relative;
    padding: 3% 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: 400px;
    grid-auto-columns: 300px;
    column-gap: 2em;
    row-gap: 2em;
}

.image-styling {
    width: 18.5rem;
    height: 17.8rem;
    object-fit: cover;
    border-radius: 10px;
}

.spot-card-header {
    /* padding */
}


.spots-body {
    position: relative;
    top: 65%;
    padding-left: 0;
}
