.button-div {
    position: relative;
    top: 30%;
    z-index: 1;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 7% 0 4%;
}

.prev,
.next {
    /* position: relative; */
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    padding: 0;

}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
    color: rgba(255, 255, 255, .9);
}


/* p {
    margin: 2px 0;
    color: rgba(0, 0, 0, .5);
} */

.container-dots {
    position: relative;
    top: 65%;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-circle {
    color: rgb(187, 186, 186);
    padding: 0 1px;

}

.fa-2xs {
    font-size: 6px;
}

.active-dot i {
    color: rgb(246, 246, 246);
    /* color: red; */
}

.not-active {
    color: rgb(187, 186, 186);

}


.spot-carousel {
    position: relative;
    padding: 3% 8% 6% 8%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 25rem;
    grid-auto-columns: 18.75rem; */
    column-gap: 1em;
    row-gap: 2em;
}

.spot-carousel:after {
    content: "";
    flex-basis: 46.5%;
}

.gallery-card {
    width: 18.5rem;
    height: 25rem;
}

.spot-card-header {
    display: block;

}

.image-styling {
    width: 18.5rem;
    height: 17.8rem;
    object-fit: cover;
    overflow: hidden;
    display: block;
    border-radius: 10px;
}

.slide {
    position: absolute;
    opacity: 0;
    object-fit: cover;
    /* overflow: hidden; */
    /* display: block; */
    /* width: 100%;
    height: 100%; */
    width: 18.5rem;
    height: 17.8rem;
}

.active {
    opacity: 1;
    width: 100%;
    height: 100%;
    width: 18.5rem;
    height: 17.8rem;
}


.spots-body {
    position: relative;
    top: 65%;
    padding-left: 0;
}

.hide {
    opacity: 0;
}

.spot-name-div {
    padding-top: 10px;
}

.spot-name-div>h5 {
    font-size: 15px;
    font-weight: 300;
    color: rgba(39, 39, 39, .9);
}
