.slide {
    position: absolute;
    opacity: 0;
}

.active {
    opacity: 1;
}


.button-div {
    position: relative;
    top: 30%;
    z-index: 1;
    width: 87%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.prev,
.next {
    /* position: relative; */
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    padding: 0;

}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
    color: rgba(255, 255, 255, .9);
}


/* p {
    margin: 2px 0;
    color: rgba(0, 0, 0, .5);
} */

.container-dots {
    position: relative;
    top: 65%;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-circle {
    color: rgb(187, 186, 186);
    padding: 0 1px;

}

.fa-2xs {
    font-size: 6px;
}

.active-dot i {
    color: rgb(246, 246, 246);
    /* color: red; */
}

.not-active {
    color: rgb(187, 186, 186);

}


.spot-carousel {
    position: relative;
    padding: 3% 8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-auto-rows: 400px;
    grid-auto-columns: 300px;
    column-gap: 2em;
    row-gap: 2em;
}

.image-styling {
    width: 18.5rem;
    height: 17.8rem;
    object-fit: cover;
    border-radius: 10px;
}



.spots-body {
    position: relative;
    top: 65%;
    padding-left: 0;
}

.hide {
    opacity: 0;
}
