body {
    color: #222222;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #222222;

}

.bolded-price {
    font-weight: 500;
}

.spots-body {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.spot-card-header {
    width: 100%;
}

.header {
    justify-content: end;
    column-gap: .5em;
    align-items: center;
    display: flex;
    width: 100%;

}

.spot-card-header h3 {
    display: inline-flex;
    width: 150px;
    margin: 0;

}

.fa-star {
    color: black;
    padding-top: 2px
}
