body {
    color: #222222;
}

.spots-body h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.spots-body h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #222222;
}

.bolded-price {
    font-weight: 500;
}

.spots-body {
    padding: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.spot-card-header {
    width: 50%;
    display: inline-flex;
}

.header {
    align-items: center;
    justify-content: end;
    display: inline-flex;
    width: 50%;
}

.spot-card-header h3 {
    display: inline-flex;
    width: 150px;
    margin: 0;
}

.fa-star {
    color: black;
    /* padding-top: 1px; */
    padding-right: 3px;
}

/*
.star-icon-box,
.rating-box {
    display: inline-flex;
    justify-content: end;
} */
