.gallery-fullscreen {
    width: 900px;
    border-radius: 40px;
    /* padding: 4% 5% 9% 5%; */
    display: block;
    position: relative;
    bottom: 300px;
}

.image-gallery-styling {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
}


.each-img {
    width: 20%;
}

.slide2 {
    opacity: 0;
    position: absolute;
    display: inline-block;
    width: 50%;
}

.active2 {
    opacity: 1;
}

.button-div-full-gallery {
    background-color: transparent;
    font-size: 90px;
    position: relative;
    top: 250px;
    right: 300px;
    /* display: block; */
    z-index: 1;
    width: 165%;
    display: flex;
    justify-content: space-between;
    /* padding: 0 5%; */

}

#full-gall-prev,
#full-gall-next {
    background-color: transparent;
    padding: 0;
    font-size: 40px;

}

.full-gall-prev {
    padding: 0;
}

.full-gall-next {}
