/* TODO Add site wide styles */
body {
    font-family: 'Arimo', sans-serif;
    padding: 0;
    margin: 0;
}

/* button {
    background-color: #ff385c;
    align-items: center;
    display: flex;
} */

button {
    background-color: #ff385c;
    color: white;
    align-items: center;
    white-space: nowrap;
    /* padding: 20%; */
    border: none;
    border-radius: 10px;
    text-align: center;
}

/* NAV BAR BUTTONS */
#nav-button {
    background-color: #ff385c;
    color: white;
    align-items: center;
    white-space: nowrap;
    padding: 20%;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: auto;
    text-align: center;
}
