body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    border: 1px solid #dfdfdf;
    margin: 0;
    width: 100%;
    padding: 2%;
    display: flex;

}

.nav-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;

    justify-items: flex-end;
}

li {
    padding: 0 2%;
    list-style-type: none;
    align-items: center;

}

button {
    background-color: #ff385c;
    align-items: center;
    display: flex;

}

/* .user-button {
    background-color: #ff385c;
} */

.logo-box {
    width: 110px;
    align-items: center;
}

/* .demo-user-box {
    align-items: center;
} */

/* .profile-dropdown ul {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

li .profile-dropdown {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.user-button-box {
    padding: 5%;
    background-color: #ff385c;
    width: 50px;

}

.user-button {
    align-items: center;
}

.fa-user {
    align-items: center;

}
