body {
    padding: 0;
    margin: 0;
    margin-top: 93px;
}

a {
    text-decoration: none;
}



.bolded {
    color: rgb(39, 39, 39);
    font-weight: 600;
}


.nav-bar {
    border: 1px solid #dfdfdf;
    margin: 0;
    width: auto;
    display: flex;
    padding: 0 8%;
    position: fixed;
    top: 0;
    background-color: white;
    height: 93px;
    z-index: 3;
}


.nav-left {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
}

.nav-right {
    width: 50%;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
}





.logo-box {
    width: 20%;
    align-items: center;
}

.icon .fa-solid {
    color: #717171;
    padding: 1%;
    display: inline-flex;
}

.user-button-box {
    padding: 5%;
    width: 72px;
    height: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    margin-left: 30px;

}

.user-button {
    background-color: white;
    align-items: center;
    width: 70px;
    justify-items: center;
    padding-top: 6px;
}

.icon {
    justify-items: stretch;
    align-items: center;
    width: 20px;
    height: auto;
    display: inline-flex;
    padding: 5px;
    /* margin-right: 5px; */
}

.icon-1 {
    padding-left: 10px;
}


.dropdown-container {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 84%;
    z-index: 2;
    padding: 0 8%;
    margin: 0;
}

.dd-box {
    width: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-container ul {
    padding-left: 5px;
}


li {
    list-style-type: none;
    width: auto;
}

.nav-right>li {
    padding: 0 5px;
    /* width: 90px; */
}

/* NAV BAR BUTTONS */
#nav-button {
    background-color: #ff385c;
    color: white;
    align-items: center;
    white-space: nowrap;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    text-align: center;

}


.dropdown>li {
    padding: 10px 0;
}
