body {
    padding: 0;
    margin: 0;
    margin-top: 93px;
}

a {
    text-decoration: none;
}

h4 {
    color: #717171;
    font-weight: 500;
}



.nav-bar {
    border: 1px solid #dfdfdf;
    margin: 0;
    width: auto;
    display: flex;
    padding: 0 8%;
    position: fixed;
    top: 0;
    background-color: white;
    /* height: 80%; */
    z-index: 3;

}

.nav-left {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
}

.nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

li {
    padding: 0 2%;
    list-style-type: none;
}

button {
    background-color: #ff385c;
    align-items: center;
    display: flex;

}



/* .user-button {
    background-color: #ff385c;
} */

.logo-box {
    width: 20%;
    align-items: center;
}

.fa-solid {
    color: #717171;
    padding: 1%;
    display: inline-flex;
}


/* .demo-user-box {
    align-items: center;
} */

/* .profile-dropdown ul {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
} */

li .profile-dropdown {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.user-button-box {
    padding: 10%;
    width: 70px;
    height: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    display: inline-flex;
}

.user-button {
    background-color: white;
    align-items: center;
    width: 75px;
}

.icon {
    justify-items: stretch;
    align-items: center;
    padding: 5%;
    width: 20px;
    height: auto;
    display: inline-flex;
}
