.nav-bar {
    border: 1px solid #dfdfdf;
    margin: 0;
    width: 100%;
    padding: 2%;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

li {
    padding: 0 2%;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;

}

.user-button {
    background-color: #ff385c;
}

.logo-box {
    width: 110px;
    align-items: center;
}

.demo-user-box {
    align-items: center;
}
